################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnionArchitecture.WebAPI/.vs/OnionArchitecture.WebAPI/FileContentIndex/36b631cd-377c-47bf-bc34-a5681eaa9a75.vsidx
/OnionArchitecture.WebAPI/.vs/OnionArchitecture.WebAPI/FileContentIndex/53e418d9-d033-4d51-804d-2ca93d8bfb11.vsidx
/OnionArchitecture.WebAPI/.vs/OnionArchitecture.WebAPI/FileContentIndex/98dd1e7b-cf12-4edc-b0d4-ba9e982feae8.vsidx
/OnionArchitecture.WebAPI/.vs/OnionArchitecture.WebAPI/FileContentIndex/c503e12a-939e-442f-9354-fc4783459866.vsidx
/OnionArchitecture.WebAPI/.vs/OnionArchitecture.WebAPI/FileContentIndex/ffe30771-e516-4814-8c24-703e8dfab97c.vsidx
/OnionArchitecture.WebAPI/.vs/OnionArchitecture.WebAPI/FileContentIndex/e0b6c0c0-c32c-4a90-b131-cc3037e5553a.vsidx
